<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sdsu.cs646.shameetha.alarmclocktest" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.codinginflow.project.AlarmListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|mcc|mnc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codinginflow.project.AlarmDetailsActivity"
            android:label="@string/title_activity_alarm_details"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name="com.codinginflow.project.AlarmBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.codinginflow.project.AlarmService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name="com.codinginflow.project.AlarmAlertActivity"
            android:label="@string/title_activity_alert"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" >
        </activity>
    </application>

</manifest>
